<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
<form th:action="@{/addBook}" th:object="${books}" method="post">
    <label for="title">Title</label>
    <input type="text" th:field="${books.title}" id="title" placeholder="Title">
    <span th:if="${#fields.hasErrors('title')}" th:errors="${books.title}"></span>

    <label for="author">Author</label>
    <input type="text" th:field="${books.author}" id="author" placeholder="Author">
    <span th:if="${#fields.hasErrors('author')}" th:errors="${books.author}"></span>

    <label for="publisher">Publisher</label>
    <input type="text" th:field="${books.publisher}" id="publisher" placeholder="Publisher">
    <span th:if="${#fields.hasErrors('publisher')}" th:errors="${books.publisher}"></span>

    <label for="ISBN">ISBN</label>
    <input type="text" th:field="${books.ISBN}" id="ISBN" placeholder="ISBN">
    <span th:if="${#fields.hasErrors('ISBN')}" th:errors="${books.ISBN}"></span>


    <p><input type="submit" style="color: mediumpurple" value="Save">
    </p>
</form>
</body>
</html>